body 
{
    background-image: url('../IMAGENES/fondocoockiecliker.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    
}
#INICIO
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#Titulo
{
    font-size: 2vw;
}
#LosDivs
{
    
    display: flex;
    justify-content: start;
    flex-direction: row;
}
#DivDeLaIzquierda
{
    border: 2px solid black;
    height: 100vh;
    width: 50vw;
}
#FondoAieka
{
    background-image: url(../IMAGENES/aiekafondo.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#TextoNumeroDePollitos
{
font-size: 4vw;
}

#NumeroDePollitos
{
    width: 100%;
    flex: 0 1 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#BotonDePollo
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    flex: 1 1 auto; 
}
#botonAieka
{
    background-image: url(../IMAGENES/pollitobase.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    height: 35vh; 
    width: 35vh; 
    flex: 0 1 auto;
    border: none;
    
}
#botonAieka:hover 
{
    transform: scale(1.1);
}
#botonAieka:active 
{
    transform: scale(1.05);
}
#DivDeLaDerecha 
{
    
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    border: 2px solid black;
    height: 100vh;
    width: 50vw;
}
#Mejoras
{
    display: flex;
    justify-content: right;
    flex-direction: column;
}
.BotonDeMejora
{
    height: 13vh;
    width: 15vw;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 3px solid black;
    cursor: pointer;
}
.BotonDeMejora:hover
{
    transform: scale(1.1);

}
.ImagenDeMejora
{
    height: 5vh;
    width: 5vw;
    border-radius: 50vh;
}
.TextoDeMejora
{
    font-size: 2vw;
    margin-bottom: 2vh;
}
.infoDeMejora
{
    background-color: rgb(137, 137, 216);
    font-style: initial;
    color:#801818;
    display: none;
    font-size: 1.2vw;
    border-radius: 20%;
}